In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
obj = Series([3,6,9,12])
obj

0     3
1     6
2     9
3    12
dtype: int64

In [3]:
obj.values

array([ 3,  6,  9, 12])

In [4]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [16]:
ww2_cas = Series([870000,430000,300000,210000,400000], index = ['USSR','Germany','China','Japan','USA'])
ww2_cas

USSR       870000
Germany    430000
China      300000
Japan      210000
USA        400000
dtype: int64

In [17]:
ww2_cas['USA']

400000

In [18]:
#check which countries had cas greater than 4million
ww2_cas[ww2_cas > 400000]

USSR       870000
Germany    430000
dtype: int64

In [10]:
'USSR' in ww2_cas

True

In [19]:
ww2_dict = ww2_cas.to_dict()
ww2_dict

{'China': 300000,
 'Germany': 430000,
 'Japan': 210000,
 'USA': 400000,
 'USSR': 870000}

In [20]:
ww2_series = Series(ww2_dict)
ww2_series

China      300000
Germany    430000
Japan      210000
USA        400000
USSR       870000
dtype: int64

In [21]:
countries = ['China','Germany', 'Japan', 'USA', 'USSR', 'Argentina']

In [22]:
obj2 = Series(ww2_dict, index = countries)
obj2

China        300000.0
Germany      430000.0
Japan        210000.0
USA          400000.0
USSR         870000.0
Argentina         NaN
dtype: float64

In [23]:
pd.isnull(obj2)

China        False
Germany      False
Japan        False
USA          False
USSR         False
Argentina     True
dtype: bool

In [24]:
pd.notnull(obj2)

China         True
Germany       True
Japan         True
USA           True
USSR          True
Argentina    False
dtype: bool

In [25]:
ww2_series

China      300000
Germany    430000
Japan      210000
USA        400000
USSR       870000
dtype: int64

In [26]:
obj2

China        300000.0
Germany      430000.0
Japan        210000.0
USA          400000.0
USSR         870000.0
Argentina         NaN
dtype: float64

In [27]:
ww2_series + obj2

Argentina          NaN
China         600000.0
Germany       860000.0
Japan         420000.0
USA           800000.0
USSR         1740000.0
dtype: float64

In [28]:
obj2.name = 'World War 2 Casualties'
obj2

China        300000.0
Germany      430000.0
Japan        210000.0
USA          400000.0
USSR         870000.0
Argentina         NaN
Name: World War 2 Casualties, dtype: float64

In [30]:
obj2.index.name = 'Countries'
obj2

Countries
China        300000.0
Germany      430000.0
Japan        210000.0
USA          400000.0
USSR         870000.0
Argentina         NaN
Name: World War 2 Casualties, dtype: float64