In [1]:

import sys
import time
import datetime
import gspread
from oauth2client.service_account import ServiceAccountCredentials as SAC
import requests
from io import StringIO
import pandas as pd
import numpy as np
import datetime
import time
from pandas import Series, DataFrame

GDriveJSON = 'PythonUpload.json'
GSpreadSheet = 'stock'
stock_code = '3545'
try:
    scope =['https://spreadsheets.google.com/feeds', 'https://www.googleapis.com/auth/drive']
    key = SAC.from_json_keyfile_name(GDriveJSON, scope)
    gc = gspread.authorize(key)
    worksheet = gc.open(GSpreadSheet).worksheet(stock_code)
except Exception as ex:
    print('無法連線Google試算表', ex)
    sys.exit(1)
else:
    data = worksheet.get_all_values()

In [4]:
data = DataFrame(data)
data.columns = data.loc[0]
data = data[1:]

In [5]:
data.head()

0         日期     成交股數       成交金額    開盤價    最高價   最低價    收盤價  成交筆數
1  107/05/03  2277731   59023878   26.2   26.4  25.7   25.8  1236
2  107/05/02  1979457   51946823   26.3  26.45  26.1   26.1  1267
3  107/04/30  4512429  117309604   26.5   26.5  25.6  25.95  2506
4  107/04/27  2804362   76649003  27.75  28.25  26.6     27  1362
5  107/04/26  3198776   90291614  28.25   29.2  27.3   27.4  1464

In [26]:
stock_data_df = data.copy()
def replace_year(x):
    if len(x)==9:
        return x.replace(x[0:3],str(int(x[0:3])+1911))
    else:
        return x.replace(x[0:2],str(int(x[0:2])+1911))
stock_data_df['日期'] = stock_data_df['日期'].apply(replace_year)

In [27]:
stock_data_df.index=stock_data_df['日期']
stock_data_df.drop(['日期','成交金額','成交筆數'],axis=1,inplace=True)
stock_data_df.columns=['volume','open','high','low','close']

In [28]:
stock_data_df['ret'] = 0
stock_data_df.loc[stock_data_df['close'] > stock_data_df['open'],'ret'] = 1

In [29]:
stock_data_df

              volume   open   high    low  close  ret
日期
2018/05/03   2277731   26.2   26.4   25.7   25.8    0
2018/05/02   1979457   26.3  26.45   26.1   26.1    0
2018/04/30   4512429   26.5   26.5   25.6  25.95    0
2018/04/27   2804362  27.75  28.25   26.6     27    0
2018/04/26   3198776  28.25   29.2   27.3   27.4    0
2018/04/25   2568804   27.1  28.15     27  28.05    1
2018/04/24   2464453  28.65  28.65  27.25  27.55    0
2018/04/23   2529243   28.3   29.3   28.3  28.65    1
2018/04/20   4936871   28.6   29.5  28.35  28.55    0
2018/04/19   3231698   28.2  28.35   27.8  28.05    0
2018/04/18   6699805   28.5   28.8   27.2  27.75    0
2018/04/17   6821627  30.55   30.6     28  28.15    0
2018/04/16   2589907  30.95   31.2  30.35  30.35    0
2018/04/13   4639597   31.1   31.2   30.3   30.8    0
2018/04/12   5338441  30.45  31.25  30.45   30.9    1
2018/04/11   4985667   31.5  31.65   30.2   30.4    0
2018/04/10  14382833   33.3   33.3   30.9   30.9    0
2018/04/09  13628171  32.45   33.3   32.2   32.8    1
2018/04/03   3181858   31.8  31.95   31.6  31.95    1
2018/04/02  10022674   32.5   32.8   31.8  32.15    0
2018/03/31   5854989  31.85   32.1   31.5  31.95    1
2018/03/30  12262629   30.9  32.65   30.8  31.85    1
2018/03/29   2130559  31.65  31.65  30.55  30.55    0
2018/03/28   1647872   31.5   31.5  30.95  31.15    0
2018/03/27   2701510  31.95   32.2   31.5  31.55    0
2018/03/26   1574847   30.9   31.6   30.8   31.6    1
2018/03/23   3330226   30.7   31.2   30.2   31.2    1
2018/03/22   8060053   31.7   32.4   31.5   31.6    0
2018/03/21   2657116   30.8  31.35  30.75   31.3    1
2018/03/20    917716   30.1  30.65   30.1   30.4    1
...              ...    ...    ...    ...    ...  ...
2009/02/20   2374500  29.75   30.9  29.55  29.75    0
2009/02/19   2372450     29   29.9  28.85  29.75    1
2009/02/18   1541805  28.55   29.7   28.3   28.7    1
2009/02/17   2680500   30.1   31.9     30  30.15    1
2009/02/16   2730350     30     31   29.5   30.1    1
2009/02/13   2173767   28.5   30.6   28.5  30.05    1
2009/02/12   1409004     32     32   29.8   29.8    0
2009/02/11   2775513   30.5   32.3   30.3     32    1
2009/02/10   1757759   29.5  31.35   29.3     31    1
2009/02/09   2769999   30.3     31   29.3   29.3    0
2009/02/06   2784000   27.6   29.3   27.6   29.3    1
2009/02/05   1380057     27   27.8  26.65   27.4    1
2009/02/04   2729297     27   27.4   26.4   27.4    1
2009/02/03    393600   24.8  25.65   24.3  25.65    1
2009/02/02    333000   23.7   24.5   23.6     24    1
2009/01/21    353100  22.75   24.4  22.75   23.7    1
2009/01/20    375699     25     25   23.9     24    0
2009/01/19    332000     26     26   25.1  25.15    0
2009/01/17    655050   26.2  26.35  25.45   25.5    0
2009/01/16    767950   25.1   26.4   25.1   25.7    1
2009/01/15    768000  24.65   25.4  24.65   24.8    1
2009/01/14   1373281     27   27.6   26.5   26.5    0
2009/01/13   1290230   25.3  27.05   25.3  27.05    1
2009/01/12    684510     25   25.9   24.8   25.3    1
2009/01/10    745100     25   25.6   24.4  24.65    0
2009/01/09   1400350   24.9   25.8   24.3     25    1
2009/01/08   1040201   25.6     26   24.8   24.8    0
2009/01/07   3150642   26.1   27.3     26  26.65    1
2009/01/06   3250428   24.3  25.55   23.6  25.55    1
2009/01/05   1645700   23.5  24.45   23.5   23.9    1

[2297 rows x 6 columns]